/composer.lock
/nbproject/private/
/vendor/
/debian/.debhelper/
/debian/abraflexi-email-importer.debhelper.log
/debian/abraflexi-email-importer.substvars
/debian/debhelper-build-stamp
/debian/abraflexi-email-importer/
client.json
imap2af.json
