/composer.lock
/nbproject/private/
/vendor/
/debian/.debhelper/
/debian/abraflexi-email-importer.debhelper.log
/debian/abraflexi-email-importer.substvars
/debian/debhelper-build-stamp
/debian/abraflexi-email-importer/
client.json
imap2af.json
/nbproject/
.phpdoc
/.phpunit.result.cache
.env
/debian/multiflexi-abraflexi-email-importer.debhelper.log
/debian/multiflexi-abraflexi-email-importer.substvars
/debian/multiflexi-abraflexi-email-importer/
/debian/tmp/composer.json
/.vscode/
/.php-cs-fixer.cache
