Source: abraflexi-email-importer
Section: web
Priority: optional
Maintainer: "Vítězslav Dvořák" <info@vitexsoftware.cz>
Build-Depends: debhelper (>=11~),composer, php-imap, php-zip
Standards-Version: 4.1.4
Homepage: https://github.com/VitexSoftware/AbraFlexi-email-importer

Package: abraflexi-email-importer
Multi-Arch: foreign
Pre-Depends: php-cli, php-imap, php-zip
Depends: ${misc:Depends}, php-spojenet-abraflexi, php-vitexsoftware-ease-bricks, php-vitexsoftware-ease-html, php-vitexsoftware-abraflexi-bricks
Suggests: abraflexi-server,abraflexi-client-config, abraflexi-digest, abraflexi-matcher, abraflexi-reminder, abraflexi-contract-invoices
Architecture: all
Description: mail to AbraFlexi importer
 Utility for importning invoices from imap account to abraflexi.
