#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	dh_install
	sed -i "s/\.\.\/vendor/\/var\/lib\/flexibee-email-importer/g" debian/flexibee-email-importer/usr/share/flexibee-email-importer/init.php

