#!/usr/bin/make -f

PKG_VERSION := $(shell dpkg-parsechangelog -S Version | sed 's/~.*//')
PKG_SOURCE  := $(shell jq -r '.name' composer.json)

%:
	dh $@ --with phpcomposer

override_dh_install:
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"' composer.json |sponge debian/tmp/composer.json
	dh_install
	sed -i "1a defined('APP_NAME') || define('APP_NAME', '$(PKG_SOURCE)');" \
		debian/abraflexi-email-importer/usr/share/php/abraflexi-email-importer/autoload.php
	sed -i "s|: 'unknown'|: '$(PKG_SOURCE)'|" \\
		debian/abraflexi-email-importer/usr/share/php/abraflexi-email-importer/autoload.php
	sed -i "s|: '0.0.0'|: '$(PKG_VERSION)'|" \\
		debian/abraflexi-email-importer/usr/share/php/abraflexi-email-importer/autoload.php
	sed -i "2a defined('APP_VERSION') || define('APP_VERSION', '$(PKG_VERSION)');" \
		debian/abraflexi-email-importer/usr/share/php/abraflexi-email-importer/autoload.php
	sed -i -e 's/..\/vendor/\/usr\/share\/php\/abraflexi-email-importer/g'   debian/abraflexi-email-importer/usr/share/abraflexi-email-importer/*.php
	sed -i -e 's/\.\.\/.env//'                                          debian/abraflexi-email-importer/usr/share/abraflexi-email-importer/*.php
	sed -i -e 's/\.\.\/i18n/\/usr\/share\/locale/g'                   debian/abraflexi-email-importer/usr/share/abraflexi-email-importer/*.php
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/multiflexi-abraflexi-email-importer/usr/lib/abraflexi-email-importer/multiflexi/isdoc_email_importer.multiflexi.app.json | sponge debian/multiflexi-abraflexi-email-importer/usr/lib/abraflexi-email-importer/multiflexi/isdoc_email_importer.multiflexi.app.json
	jq '.version = "'`dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//'`'"'  debian/multiflexi-abraflexi-email-importer/usr/lib/abraflexi-email-importer/multiflexi/isdoc_file_importer.multiflexi.app.json | sponge debian/multiflexi-abraflexi-email-importer/usr/lib/abraflexi-email-importer/multiflexi/isdoc_file_importer.multiflexi.app.json
